In [ ]:
import os
import pandas as pd
from holidays import UnitedStates
import pandas as pd

# Data Analysis

## Reading datasets

Read taxi dataset

In [8]:
# Get the absolute path to check where Python is looking for the file
file_path = 'dataset.csv'
absolute_path = os.path.abspath(file_path)
    
# Check if the directory exists, and create it if not    
directory = os.path.dirname(absolute_path)  # Get the directory path from the file path
if not os.path.exists(directory):
        os.makedirs(directory)
        print(f"Directory '{directory}' created.")
    
print(f"Checking file at: {absolute_path}")
    
try:
        # Load the CSV file using pandas
        df = pd.read_csv(file_path, index_col = 0)
except Exception as e:
        df = pd.DataFrame()
        print(f"Error loading result: {e}")

df

Checking file at: c:\Users\weare\Documents\GitHub\DeeL\dataset.csv

                 timestamp  value
0      2014-07-01 00:00:00  10844
1      2014-07-01 00:30:00   8127
2      2014-07-01 01:00:00   6210
3      2014-07-01 01:30:00   4656
4      2014-07-01 02:00:00   3820
...                    ...    ...
10315  2015-01-31 21:30:00  24670
10316  2015-01-31 22:00:00  25721
10317  2015-01-31 22:30:00  27309
10318  2015-01-31 23:00:00  26591
10319  2015-01-31 23:30:00  26288

[10320 rows x 2 columns]

In [9]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
dataset = df.set_index("timestamp")
dataset

                     value
timestamp
2014-07-01 00:00:00  10844
2014-07-01 00:30:00   8127
2014-07-01 01:00:00   6210
2014-07-01 01:30:00   4656
2014-07-01 02:00:00   3820
...                    ...
2015-01-31 21:30:00  24670
2015-01-31 22:00:00  25721
2015-01-31 22:30:00  27309
2015-01-31 23:00:00  26591
2015-01-31 23:30:00  26288

[10320 rows x 1 columns]

In [10]:
dataset['year'] = dataset.index.year
dataset['month'] = dataset.index.month
dataset['day'] = dataset.index.day
dataset['day_of_week'] = dataset.index.day_of_week + 1
dataset['hour'] = dataset.index.hour
dataset['isWeekend'] = dataset.day_of_week.map({1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 1, 7: 1})
dataset['isAnomaly'] = 0
# Add time parts to the anomaly dates and update the 'isAnomaly' column
anomaly_dates = ['2014-11-02', '2014-11-27', '2014-12-24', '2014-12-25', '2015-01-01', '2015-01-26', '2015-01-27']

for date in anomaly_dates:
    # Create start and end timestamps for the full day
    start = pd.to_datetime(date + ' 00:00:00')
    end = pd.to_datetime(date + ' 23:59:59')
    
    # Update only the 'isAnomaly' column for the specified date range
    dataset.loc[start:end, 'isAnomaly'] = 1

# View the dataset for verification
dataset.loc['2014-11-02':'2014-11-03'].head(55)

,value,year,month,day,day_of_week,hour,isWeekend,isAnomaly
timestamp,,,,,,,,
2014-11-02 00:00:00,25110,2014,11,2,7,0,1,1
2014-11-02 00:30:00,23109,2014,11,2,7,0,1,1
2014-11-02 01:00:00,39197,2014,11,2,7,1,1,1
2014-11-02 01:30:00,35212,2014,11,2,7,1,1,1
2014-11-02 02:00:00,13259,2014,11,2,7,2,1,1
2014-11-02 02:30:00,12250,2014,11,2,7,2,1,1
2014-11-02 03:00:00,10013,2014,11,2,7,3,1,1
2014-11-02 03:30:00,7898,2014,11,2,7,3,1,1
2014-11-02 04:00:00,6375,2014,11,2,7,4,1,1
2014-11-02 04:30:00,4532,2014,11,2,7,4,1,1
2014-11-02 05:00:00,5116,2014,11,2,7,5,1,1
2014-11-02 05:30:00,5232,2014,11,2,7,5,1,1
2014-11-02 06:00:00,4542,2014,11,2,7,6,1,1
2014-11-02 06:30:00,5298,2014,11,2,7,6,1,1
2014-11-02 07:00:00,5155,2014,11,2,7,7,1,1
2014-11-02 07:30:00,6029,2014,11,2,7,7,1,1
2014-11-02 08:00:00,6280,2014,11,2,7,8,1,1
2014-11-02 08:30:00,8771,2014,11,2,7,8,1,1
2014-11-02 09:00:00,10151,2014,11,2,7,9,1,1
2014-11-02 09:30:00,12501,2014,11,2,7,9,1,1
2014-11-02 10:00:00,13990,2014,11,2,7,10,1,1
2014-11-02 10:30:00,16534,2014,11,2,7,10,1,1
2014-11-02 11:00:00,17133,2014,11,2,7,11,1,1
2014-11-02 11:30:00,18775,2014,11,2,7,11,1,1
2014-11-02 12:00:00,18985,2014,11,2,7,12,1,1
2014-11-02 12:30:00,19911,2014,11,2,7,12,1,1
2014-11-02 13:00:00,19123,2014,11,2,7,13,1,1
2014-11-02 13:30:00,19524,2014,11,2,7,13,1,1
2014-11-02 14:00:00,19640,2014,11,2,7,14,1,1
2014-11-02 14:30:00,18364,2014,11,2,7,14,1,1
2014-11-02 15:00:00,17940,2014,11,2,7,15,1,1
2014-11-02 15:30:00,17949,2014,11,2,7,15,1,1
2014-11-02 16:00:00,17288,2014,11,2,7,16,1,1
2014-11-02 16:30:00,16326,2014,11,2,7,16,1,1
2014-11-02 17:00:00,17522,2014,11,2,7,17,1,1
2014-11-02 17:30:00,19243,2014,11,2,7,17,1,1
2014-11-02 18:00:00,20291,2014,11,2,7,18,1,1
2014-11-02 18:30:00,21649,2014,11,2,7,18,1,1
2014-11-02 19:00:00,22839,2014,11,2,7,19,1,1
2014-11-02 19:30:00,21772,2014,11,2,7,19,1,1
2014-11-02 20:00:00,20994,2014,11,2,7,20,1,1
2014-11-02 20:30:00,19774,2014,11,2,7,20,1,1
2014-11-02 21:00:00,18398,2014,11,2,7,21,1,1
2014-11-02 21:30:00,17764,2014,11,2,7,21,1,1
2014-11-02 22:00:00,17334,2014,11,2,7,22,1,1
2014-11-02 22:30:00,15431,2014,11,2,7,22,1,1
2014-11-02 23:00:00,12958,2014,11,2,7,23,1,1
2014-11-02 23:30:00,10224,2014,11,2,7,23,1,1
2014-11-03 00:00:00,8771,2014,11,3,1,0,0,0
2014-11-03 00:30:00,6045,2014,11,3,1,0,0,0
2014-11-03 01:00:00,4413,2014,11,3,1,1,0,0
2014-11-03 01:30:00,3235,2014,11,3,1,1,0,0
2014-11-03 02:00:00,2688,2014,11,3,1,2,0,0
2014-11-03 02:30:00,1983,2014,11,3,1,2,0,0
2014-11-03 03:00:00,1756,2014,11,3,1,3,0,0

In [ ]:
# Create a holiday object for the US with state-specific holidays for New York
ny_holidays = UnitedStates(years=[2014, 2015], state='NY')

# Convert to a DataFrame
holidays_ny = pd.DataFrame({
    "Date": list(ny_holidays.keys()),
    "Holiday": list(ny_holidays.values())
})

# Convert 'Date' to datetime
holidays_ny['Date'] = pd.to_datetime(holidays_ny['Date'])

# Filter holidays up to '2015-01-31'
holidays_ny = holidays_ny.loc[(holidays_ny['Date'] <= '2015-01-31') & (holidays_ny['Date'] >= '2014-07-01')]

# Sort by index and rename the column "Date" to "timestamp"
holidays_ny = holidays_ny.sort_index()
holidays_ny = holidays_ny.rename(columns={"Date": "timestamp"})
holidays_ny = holidays_ny.set_index("timestamp")

# Show the final DataFrame
holidays_ny

                               Holiday
timestamp
2014-07-04            Independence Day
2014-09-01                   Labor Day
2014-11-11                Veterans Day
2014-11-27                Thanksgiving
2014-12-25               Christmas Day
2014-10-13                Columbus Day
2014-11-04                Election Day
2015-01-01              New Year's Day
2015-01-19  Martin Luther King Jr. Day

In [15]:
weather_df = pd.read_csv("weather_csv.csv")
weather_df = weather_df.set_index('timestamp')
weather_df

            prep  snow  min temp  max temp  dif temp
timestamp
2014-07-01  0.00   0.0       0.0      72.0      72.0
2014-07-02  0.96   0.0       0.0      72.0      72.0
2014-07-03  1.78   0.0       0.0      69.0      69.0
2014-07-04  0.14   0.0       0.0      65.0      65.0
2014-07-05  0.00   0.0       0.0      63.0      63.0
...          ...   ...       ...       ...       ...
2015-01-28  0.00   0.0       7.9      16.0       8.1
2015-01-29  0.02   0.0       5.9      19.0      13.1
2015-01-30  0.06   1.0       7.1      19.0      11.9
2015-01-31  0.00   0.0       7.1      13.0       5.9
2015-02-01  0.03   0.3       5.9      20.0      14.1

[216 rows x 5 columns]

Merging dataset with other dataset